
.monitor-position-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22px); /* Full width minus padding and border */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.queue-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.queue-table th,
.queue-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.queue-table th {
    background-color: #f4f4f4;
    color: #333;
}

.queue-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.queue-table button {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
    color: white;
}

.queue-table button:hover {
    background-color: #c82333;
}

h1  {
    text-align: center;
}
